$main-color: #242f9b;
$text-color: #555555;
$delete-color: #ff3333;
$active-bg-color: #242f9b;
$active-text-color: #ffffff;
$error-color: #ff3333;
$list-width: 1000px;
$task-height: 70px;
$task-bg-color: #f5f5f5;
$button-width: 80px;
$button-height: 40px;
$border-radius: 5px;
$form-width: 300px;
$detail-height: 200px;
$input-height: 30px;
