@charset "utf-8";
@import 'variables';

.edit-task {
  width: $list-width;
  margin: 0 auto;

  .edit-task-form {
    color: $text-color;
  }

  .edit-task-title,
  .edit-task-detail {
    width: $form-width;
    margin-bottom: 25px;
  }

  .delete-task-button,
  .edit-task-button {
    width: $button-width;
    height: $button-height;
    border-radius: $border-radius;
    margin: 25px 5px;
  }

  .delete-task-button {
    color: $delete-color;
    border: solid 1px $delete-color;
    background-color: transparent;
  }

  .edit-task-button {
    background-color: $main-color;
    color: $active-text-color;
  }

  .error-message {
    color: $error-color;
  }

  // タブレット向け（768px以上）
  @media (min-width: 768px) {
    .edit-task {
      width: 70%;
    }

    .edit-task-title,
    .edit-task-detail {
      width: 250px;
      margin-bottom: 20px;
    }

    .delete-task-button,
    .edit-task-button {
      width: 60px;
      height: 30px;
    }
  }

  // スマートフォン向け（320px以下）
  @media (max-width: 320px) {
    width: 100%;
    padding: 0 10px;

    .edit-task-title,
    .edit-task-detail {
      width: 90%;
      margin-bottom: 20px;
      font-size: 14px;
    }

    .delete-task-button,
    .edit-task-button {
      width: 60px;
      height: 30px;
      margin: 15px 5px;
    }

    .error-message {
      font-size: 12px;
    }
  }
}
